<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluidos en Angular - Incluidos usualmente en el Common Module.</p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="UpperCase" [subheader]="nombreLower | uppercase">{{ nombreLower }}</p-card>
    </div>
    <div class="p-col-4">
        <p-card header="LowerCase" [subheader]="nombreUpper | lowercase">{{ nombreUpper  }}</p-card>  
    </div>
    <div class="p-col-4">
        <p-card header="TitleCase" [subheader]="nombreTitle | titlecase">{{ nombreTitle  }}</p-card>  
    </div>    
</div>

<div class="text-layout">
    <h1>DATE | Fecha | Pipe</h1>
    <p>Pipe para mostrar las fechas.</p>
</div>

<div class="p-grid">
    <div class="p-col-3">
        <p-card >
            <ul>
                <li>fecha</li>
                <li>fecha | date </li>
                <li>fecha | date :'short' </li>
                <li>fecha | date :'long' </li>
                <li>fecha | date :'dd/MM/YYYY' </li>
                <li>fecha | date :'MMMM' </li>
                <li>fecha | date :'MMMM dd, YYYY' </li>
            </ul>
            <hr>
            <ul>
                <li>fecha | date :'long':'GMT-6' </li> 
                <li>fecha | date :'long':'GMT+4' </li> 
                <li>fecha | date :'long':'':'en' </li> 
                <li>fecha | date :'long':'':'fr' </li> 
            </ul>

        </p-card>
    </div>
    <div class="p-col-6">
        <p-card >
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date }}</li>
                <li>{{fecha | date :'short' }}</li>
                <li>{{fecha | date :'long' }}</li>
                <li>{{fecha | date :'dd/MM/YYYY' }}</li>
                <li>{{fecha | date :'MMMM' }}</li>
                <li>{{fecha | date :'MMMM dd, YYYY' }}</li>
            </ul>
            <hr>
            <ul>
                <li>{{fecha | date :'long':'GMT-6' }}</li> 
                <li>{{fecha | date :'long':'GMT+4' }}</li> 
                <li>{{fecha | date :'long':'':'en' }}</li> 
                <li>{{fecha | date :'long':'':'fr' }}</li> 
            </ul>
        </p-card>  
    </div>
</div>
