

<!-- <div class="text-layout">
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
</div>

<button label="Mostrar nombre" pButton (click)="mostrarNombre()" class="p-button-help" icon="pi pi-compass" iconPos="right">
</button>
<br>
<p-button label="Otro botón" ></p-button>

<p-card [header]="nombre | titlecase " subheader="Un subtitulo bonito">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, consequuntur? Soluta dicta dolore atque maxime, numquam repellat, expedita reiciendis corporis consequatur ducimus deleniti, vitae labore in debitis quod? Est, beatae?
</p-card>
 -->
<app-menu></app-menu>
<router-outlet></router-outlet>



